<%= turbo_frame_tag dom_id(question) do %>
<div class="qestions-list-item">
  <div class="center-box">
    <div>
      <div class="scroller"><%= question.title %></div>
    </div>
  </div>
  <div class="show-slideshow likes-bar">
  </div>
</div>
<% end %>