<div class="qestions-list mode-grid">
  <div class="clearfix">
    <%= turbo_stream_from "questions" %>
    <%= turbo_frame_tag "questions" do %>
    <%= render @session.questions %>
    <% end %>
  </div>
</div>

<div class="dx-box dx-box-content dx-box-decorated mt-40">
  <div class="row vertical-gap align-items-center justify-content-center">
    <div class="col-auto">
      <h3 class="h5 mnt-6 mnb-6"><%= link_to "Aller au resume de la session", resume_session_path(@session) %></h3>
    </div>
  </div>
</div>