 <nav class="dx-navbar dx-navbar-top dx-navbar-collapse dx-navbar-sticky dx-navbar-expand-lg dx-navbar-dropdown-triangle dx-navbar-autohide">
   <div class="container">
     <a href="index.html" class="dx-nav-logo">
       Xam-Xam
     </a>
     <button class="dx-navbar-burger">
       <span></span><span></span><span></span>
     </button>
     <div class="dx-navbar-content">
       <ul class="dx-nav">
         <li class="dx-nav-item">
           <a class="dx-nav-link" href="store.html"> Acceuil </a>
         </li>
         <li class="dx-nav-item">
           <a class="dx-nav-link" href="blog.html"> Blog </a>
         </li>
         <li class="dx-nav-item dx-nav-item-drop active">
           <a class="dx-nav-link" href="help-center.html"> Centre de documentations </a>
           <ul class="dx-navbar-dropdown">
             <li>
               <a class="dx-nav-link" href="help-center.html">
                 Help Center
               </a>
             </li>
             <li class="dx-nav-item">
               <a class="dx-nav-link" href="documentations.html">
                 Documentations
               </a>

             </li>
             <li class="dx-nav-item active">
               <a class="dx-nav-link" href="articles.html">
                 Knowledge Base
               </a>
             </li>
             <li class="dx-nav-item ">
               <a class="dx-nav-link" href="forums.html"> Forums </a>
             </li>
             <li class="dx-nav-item ">
               <a class="dx-nav-link" href="/sessions"> Sessions </a>
             </li>

             <div class="dx-navbar-dropdown-triangle"></div>
           </ul>
         </li>

       </ul>
       <ul class="dx-nav dx-nav-align-right">

         <li class="dx-nav-item">
           <a class="dx-nav-link" data-fancybox data-touch="false" data-close-existing="true" data-src="#login" href="javascript:;">Log In</a>
         </li>
         <li class="dx-nav-item">
           <span><a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;" class="dx-btn dx-btn-md dx-btn-transparent">Sign Up</a></span>
         </li>
       </ul>
     </div>
   </div>
 </nav>
 <div class="dx-navbar dx-navbar-fullscreen">
   <div class="container">
     <button class="dx-navbar-burger">
       <span></span><span></span><span></span>
     </button>
     <div class="dx-navbar-content">
       <ul class="dx-nav dx-nav-align-left">
         <li class="dx-nav-item">
           <a class="dx-nav-link" href="store.html"> Acceuil </a>
         </li>
         <li class="dx-nav-item">
           <a class="dx-nav-link" href="blog.html"> Blog </a>
         </li>
         <li class="dx-nav-item dx-nav-item-drop active">
           <a class="dx-nav-link" href="help-center.html"> Centre de documentations </a>
           <ul class="dx-navbar-dropdown">
             <li>
               <a class="dx-nav-link" href="help-center.html">
                 Help Center
               </a>
             </li>
             <li class="dx-nav-item">
               <a class="dx-nav-link" href="documentations.html">
                 Documentations
               </a>

             </li>
             <li class="dx-nav-item active">
               <a class="dx-nav-link" href="articles.html">
                 Knowledge Base
               </a>
             </li>
             <li class="dx-nav-item ">
               <a class="dx-nav-link" href="forums.html"> Forums </a>
             </li>
             <li class="dx-nav-item ">
               <a class="dx-nav-link" href="/sessions"> Sessions </a>
             </li>

             <div class="dx-navbar-dropdown-triangle"></div>
           </ul>
         </li>>
       </ul>
       <ul class="dx-nav dx-nav-align-right">
         <li>
           <a data-fancybox data-touch="false" data-close-existing="true" data-src="#login" href="javascript:;">Log In</a>
         </li>
         <li>
           <span><a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;" class="dx-btn dx-btn-md dx-btn-transparent">Sign Up</a></span>
         </li>
       </ul>
     </div>
   </div>
 </div>