 <nav class="dx-navbar dx-navbar-top dx-navbar-collapse dx-navbar-sticky dx-navbar-expand-lg dx-navbar-dropdown-triangle dx-navbar-autohide">
   <div class="container">
     <a href="/" class="dx-nav-logo">
       Xam-Xam
     </a>
     <button class="dx-navbar-burger">
       <span></span><span></span><span></span>
     </button>
     <div class="dx-navbar-content">
       <ul class="dx-nav">
         <li class="dx-nav-item">
           <a class="dx-nav-link" href="/"> Acceuil </a>
         </li>
         <li class="dx-nav-item">
           <a class="dx-nav-link" href="#"> Blog </a>
         </li>
         <li class="dx-nav-item dx-nav-item-drop active">
           <a class="dx-nav-link" href="#"> Centre de documentations </a>
           <ul class="dx-navbar-dropdown">
             <li>
               <a class="dx-nav-link" href="#">
                 Help Center
               </a>
             </li>
             <li class="dx-nav-item">
               <a class="dx-nav-link" href="#">
                 Documentations
               </a>

             </li>
             <li class="dx-nav-item active">
               <a class="dx-nav-link" href="#">
                 Knowledge Base
               </a>
             </li>
             <li class="dx-nav-item ">
               <a class="dx-nav-link" href="#"> Forums </a>
             </li>
             <li class="dx-nav-item ">
               <a class="dx-nav-link" href="/sessions"> Sessions </a>
             </li>

             <div class="dx-navbar-dropdown-triangle"></div>
           </ul>
         </li>
         <li class="dx-nav-item ">
           <a class="dx-nav-link" href="/sessions"> Sessions </a>
         </li>

       </ul>
       <ul class="dx-nav dx-nav-align-right">
         <% if !user_signed_in? %>

         <li class="dx-nav-item">
           <a class="dx-nav-link" data-fancybox data-touch="false" data-close-existing="true" data-src="#login" href="javascript:;">Log In</a>
         </li>
         <li class="dx-nav-item">
           <span><a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;" class="dx-btn dx-btn-md dx-btn-transparent">Sign Up</a></span>
         </li>
         <% else %>
         <li class="dx-nav-item">
           <span>
             <%= link_to "Sign out", destroy_user_session_path, class: 'dx-btn dx-btn-md dx-btn-transparent' %>
         </li>
         <% end %>
       </ul>
     </div>
   </div>
 </nav>
 <div class="dx-navbar dx-navbar-fullscreen">
   <div class="container">
     <button class="dx-navbar-burger">
       <span></span><span></span><span></span>
     </button>
     <div class="dx-navbar-content">
       <ul class="dx-nav dx-nav-align-left">
         <li class="dx-nav-item">
           <a class="dx-nav-link" href="/"> Acceuil </a>
         </li>
         <li class="dx-nav-item">
           <a class="dx-nav-link" href=""> Blog </a>
         </li>
         <li class="dx-nav-item dx-nav-item-drop active">
           <a class="dx-nav-link" href=""> Centre de documentations </a>
           <ul class="dx-navbar-dropdown">
             <li>
               <a class="dx-nav-link" href="">
                 Help Center
               </a>
             </li>
             <li class="dx-nav-item">
               <a class="dx-nav-link" href="">
                 Documentations
               </a>

             </li>
             <li class="dx-nav-item active">
               <a class="dx-nav-link" href="">
                 Knowledge Base
               </a>
             </li>
             <li class="dx-nav-item ">
               <a class="dx-nav-link" href=""> Forums </a>
             </li>
             <li class="dx-nav-item ">
               <a class="dx-nav-link" href="/sessions"> Sessions </a>
             </li>

             <div class="dx-navbar-dropdown-triangle"></div>
           </ul>
         </li>>
       </ul>
       <ul class="dx-nav dx-nav-align-right">
         <li>
           <a data-fancybox data-touch="false" data-close-existing="true" data-src="#login" href="javascript:;">Log In</a>
         </li>
         <li>
           <span><a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;" class="dx-btn dx-btn-md dx-btn-transparent">Sign Up</a></span>
         </li>
       </ul>
     </div>
   </div>
 </div>