<div class="col-sm-6">
  <div class="dx-article dx-article-list">
    <h3 class="h6 dx-article-title"><%= category.name %></h3>
    <ul class="dx-list">
      <li>
        <a href=""
          >Make menu dropdown working without JavaScript</a
        >
      </li>
      <li>
        <a href="#">Google Analytics</a>
      </li>
      <li>
        <a href="#"
          >How to manually import Demo data (if you faced with problems in
          one-click demo import)</a
        >
      </li>
    </ul>
    <a
      href="#"
      class="dx-btn dx-btn-xs dx-btn-grey-1 dx-article-btn"
      ><%= category.children.count %> Articles</a
    >
  </div>
</div>
