<div class="dx-blog-post-box pt-30 pb-30">
  <h2 class="h4 mnt-5 mb-8">Browse Article Categories</h2>
  <!-- START: Breadcrumbs -->
  <ul class="dx-breadcrumbs text-left dx-breadcrumbs-dark mnb-8"></ul>
  <!-- END: Breadcrumbs -->
</div>
<div class="dx-separator"></div>
<div class="dx-blog-post-box">
  <div class="row vertical-gap lg-gap">
    <%= render @categories %>
  </div>
</div>